!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    Thanks for your interest in TrackMiles!
    %p
      As requested, here&apos;s the 
      %a{href:'http://trackmiles.davidraff.com/media/TrackMilesAndroidApp.apk'}TrackMiles Android App Link.
    %p
      Because this is a prototype and isn&apos;t in the Google Play Store yet, 
      you will need to turn on <b>Allow Unknown Sources</b>. 
      This can vary by device, but may be in either of:
    %p Settings -> Applications  
    %p Settings -> Security -> Device Administration    
   