Home location:&nbsp;
%input{type: 'text', placeholder:'1 Test St., Boston, MA'}
%br 
%br
Regular work locations:
%br
%textarea{type: 'text', placeholder: '415 South St, Waltham, MA 02453', rows: 5, cols: 80}
%br 
%br
Then put mock table for look.