/ Main jumbotron for a primary marketing message or call to action
.jumbotron
  %h1 Track and reimburse miles easier 
  %p 
    Wasting time remembering where you drove for ministry? Skipping it altogether?
  %p
    What if between your smartphone, address and work locations we could automatically suggest
    mileage reimbursements for your review?
  %p   
    That's the vision - we think it will help you better steward your time and ministry account.
   
  %p
    %a.btn.btn-primary.btn-large Get started »
.row
  .col-lg-4
    %h2 How it works
    %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    %p
      %a.btn.btn-default{:href => "#"} Learn more »
  .col-lg-4
    %h2 FAQ
    %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    %p
      %a.btn.btn-default{:href => "#"} Learn more »
  .col-lg-4
    %h2 Feedback or ideas?
    %p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    %p
      %a.btn.btn-default{:href => "#"} Learn more »