/ Main jumbotron for a primary marketing message or call to action
- content_for :before_container do
  .jumbotron
    .container
      %h1 Track and reimburse miles easier 
      %p 
        Wasting time remembering where you drove for ministry? Skipping it altogether?
      %p
        What if we showed possible trips to reimburse using your calendar and smartphone?
      %p
        That's the vision - we think it will help you better steward your time and ministry account.
       
      %p
        %a.btn.btn-primary.btn-large{:href => "dashboard"} Get started »  
.row
  .col-lg-4
    %h2 How it works
    %p Still under construction right now.
    %p
      %a.btn.btn-default{:href => "howitworks"} Learn more »
  .col-lg-4
    %h2 FAQ
    %p This is a prototype right now, but see possible answer to questions.
    %p
      %a.btn.btn-default{:href => "faq"} Learn more »
  .col-lg-4
    %h2 Feedback or ideas?
    %p Please send any feedback or ideas to david.raffensperger at cru.org.
    %p
      %a.btn.btn-default{:href => "feedback"} Learn more »