%h1 Home
- if flash[:notice]
  %h2 *** #{flash[:notice]} ***
- if current_user
  %p Welcome #{current_user.name}!
  %p
    = link_to "Log out", destroy_user_session_path, :method => :delete 
- else
  %p
    = link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2)
