/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron {
  margin-bottom: 20px;
}

.flash_alerts {
  margin-top: 15px;
}
.body_content {
  margin-top: 15px;
}
