/*
TODO:
- Center the text on every line
- Improve the map
- Add map route disclaimer
- Make it mobile friendly
- Maybe later (make it so that it guesses whether you took shortest or fastest MapQuest route most closely)
- Would be great to display scheduled events from Google Calendar too
- Cache results for faster loading of route shapes (and remember current trip and don't redisplay it)
- Make it use the full browser height when available
*/

// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map { height: 500px; }
.trip-date {width: 100%}
.trip-date-start {margin-bottom: 0.3em}
.trip-row * {float: left; vertical-align: center}
.trip-row {margin-bottom: 0.3em}
.trip-time {width: 9em;}
.trip-address-start {margin-left: 0.2em;}
.trip-address {width: 10em; margin-left: 0.2em; margin-right: 0.2em}
#trip-container {margin-bottom: 1.5em}
#trips-list {overflow-y: scroll; height: 500px}
.trip-start-time {width: 3.5em; text-align: right; margin-right: 0.5em}
.trip-end-time {width: 3.5em; text-align: right}
#from {width: 8em}
#to {width: 8em}
#distance {margin-left: 0.3em}
#method {width: 6.5em}
#miles {width: 4em; text-align: right}
#purpose {width: 13em}
#rate {width: 8em}

#reimb-container{height: 1000px}
#reimb-info{float:left; width:20%}
#reimb-frame-container{width:80%; height:1000px; float:right;}
#reimb-frame{width:100%; height:100%}
