// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#trip-start-time {width: 3em; text-align: right}
#trip-end-time {width: 3em; text-align: right; margin-right: 0.5em}
#from {width: 15em}
#to {width: 15em}
#method {width: 6.5em}
#miles {width: 4em; text-align: right}
#purpose {width: 16em}
#rate {width: 8em}

#reimb-container{height: 1000px}
#reimb-info{float:left; width:20%}
#reimb-frame-container{width:80%; height:1000px; float:right;}
#reimb-frame{width:100%; height:100%}
